.color{
    background:black;
    text-decoration: yellow;
  width: 100%;
 height: 50px;
 padding-left: 350px;
 margin-left:0;
}
.bool{
    text-decoration: underline;
 

    
    
   
}

.bool:hover {
    background-color:darkcyan ;
    font-size: 100%;
  }
  
  